services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
      - JELLYFIN_PublishedServerUrl=http://192.168.42.10 #autodiscovery
    volumes:
      - /mnt/media/jellyfin:/config
      - /mnt/media/media/tv:/data/tvshows
      - /mnt/media/media/movies:/data/movies
      - /mnt/media/media/yt:/data/youtube
    ports:
      - 8096:8096
      - 8920:8920 #optional
      - 7359:7359/udp #optional
      - 1900:1900/udp #optional
    restart: unless-stopped
